.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #0A0A0A;
    justify-content: space-between;
    align-items: center;
    height: 89.7vh;
}

.loginSection {
    width: 90vh;
    align-items: center;
    background-color: #0A0A0A;
    text-align: center;
}

.loginSection h2 {
    color: white;
}

.loginSection a {
    color: white;
    text-align: left;
    margin-bottom: 5px;
    margin-right: 35vh;
}

.botonNext {
    background-color: #762C98;
    margin-top: 20px;
    font-size: 20px;
    width: 140px;
    height: 45px;
    cursor: pointer;
    border-radius: 5%;
    border-style: none;
}

.botonNext:hover {
    background-color: #7b4296;
    color: white;
}

.icon-login {
   margin-top: 5px;
   color: white;
}

.icon-login:hover {
    color: #7b4296
}

.botonAtras {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    margin-top: 10vh;
    margin-left: 30vh;
    
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.botonAtras:hover {
    color: #7b4296
}

.inputsLogin input {
    color: white;
    padding: 10px;
    width: 50vh;
}

.inputsLogin p {
   padding: 0;
    color: white;
    text-align: left;
    margin-left: 19vh;
    margin-bottom: 5px;
}

.linea {
    width: 1px; 
    height: 600px; 
    background-color: white; 
    border: none;
}

.registerSection {
    width: 100vh;
    align-items: center;
    background-color: #0A0A0A;
    text-align: center;
}

.registerSection h2 {
    color: white;
}

.inputsRegister {
    color: white;
    padding-bottom: 15px;
}

.inputsRegister input {
    color: white;
    padding: 10px;
    width: 50vh;
}

.inputsRegister p {
   padding: 0;
    color: white;
    text-align: left;
    margin-left: 24vh;  
    margin-bottom: 5px;
    
}



