.sidebar {
    width: 400px;
    background-color: #616060;
    color: white;
    padding: 20px;
    height: 100vh;
    box-sizing: border-box;
}

.menu {
    background-color: #212121;
    width: 350px;
    height: 825px;
}

.menu-item {
display: flex;
  align-items: center;
  gap: 10px;

  height: 65px;
  padding: 5px 30px 10px;
  
  font-size: 40px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-item.disabled:hover {
  background-color: #7a2f2f;
  color: #ffffff;
}

.icon {
  margin-top: 5px;
}

.menu-item.disabled {
  background-color: #943F3F;
  color: white;              
}

.menu-item-beats.active {
  background-color: #7E7E7E;
  color: #d28353;              
}

.menu-item-shows.active {
  background-color: #7E7E7E;
  color: #8A226F;              
}

.menu-item-acerca.active {
  background-color: #7E7E7E;
  color: #086bc2;              
}



